
.buttons{
  display: flex;
  justify-content: center;

}


.buttons button{
     background-color: sandybrown;
}

#button{
    background-color: sandybrown;
}

#button:hover{
    background: olivedrab;
    color: white;
}

.block{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:1200px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 100px 0px 100px;
    padding: 10px;
}

.block:hover{
    box-shadow: 3px 3px 3px black;
}
